<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="orders">
                <% if(orders.length> 0) { %>
                    <ul class="orders__item">
                        <% orders.forEach(order=> { %>

                            <h2>Order #<%= order._id %> - <a href="/orders/<%= order._id %>">Download Invoice</a></h2>
                            <ul class="orders__products">
                                <% order.products.forEach(p => { %>
                                    <li class="orders__products-item"><%= p.product.title %> (x<%= p.quantity %>)</li>
                                <% })%>
                            </ul>
                        <% }) %>
                    </ul>
                    <% } else { %>
                        <h1>Nothing there!</h1>
                    <% } %>
            </main>
        <%- include('../includes/end.ejs') %>